.layout {
    display: flex;

    .sidebar {
        z-index: 100;
    }

    .icon_side_nav {
        display: none;       
    }

    .challenge_nav {
        background-color: #F1F8FF;
    }
}

@media (min-width: 979px) and (max-width: 1199px) {
    .layout {
        display: flex;
    
        .sidebar {
            display: none;
        }
        .icon_side_nav {
            display: block;
        }
    
        .challenge_nav {
            background-color: #F1F8FF;
        }
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .layout {
        display: flex;
    
        .sidebar {
            display: none;
        }
        .icon_side_nav {
            display: block;
        }
        .challenge_nav {
            background-color: #F1F8FF;
        }
    }
}
@media (max-width: 767px) {
    .layout {
        display: flex;
    
        .sidebar {
            display: none;
        }

        .icon_side_nav {
            display: block;
        }
    
        .challenge_nav {
            background-color: #F1F8FF;
            
            .headerNav {
                position: relative;
                margin-top: 0px;
            }
        }
    }
}