.dash_nav {
    font-family: 'overpass', sans-serif;
    .brandName {
        font-size: 30px;
        font-weight: 500;
        color: #363b64;
    }

    .navForm {
        margin-left: auto;
        margin-top: 10px;

        .search_bar {
            display: flex;
            align-items: center;
            border: 0px;
            padding: 5px;
            border-radius: 9px;
            width: 350px;
            background-color: white;

            .form-control {
                border: 0px;
                background-color: transparent;
            }
        }
    }
    .alarm {
        padding: 3px;
        border: 0px;
        background-color: transparent;
        margin: -3px 10px 0px;
        border-radius: 10px;
        width: fit-content;
        height: fit-content;

        .notify {
            width: 2em;
            height: 2em;
            color: #363B64;
        }
        .noti_count {
            background-color: red;
            position: absolute; 
            width: 1em;
            height: 1em;
            border-radius: 50%;
            color: white;
            font-size: .8em;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px;
            margin-left: 25px;
        }
    }

    .dash_media {
        background-color: white;
        border: 0px;
        display: flex;
        align-items: center;
        padding: 4px;
        border-radius: 10px;

        .img_media {
            margin: 3px;
        }

        .passport {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 5px;
        }
    }
    @media (min-width: 998px) and (max-width: 1200px) {
        .brandName {
            font-size: 25px;
            font-weight: 400;
            color: #363b64;
        }
        .navForm {
            margin-left: auto;
            margin-top: 10px;
            
            .search_bar {
                display: flex;
                align-items: center;
                border: 0px;
                padding: 4px;
                border-radius: 9px;
                width: 300px;
                background-color: white;

                .form-control {
                    border: 0px;
                    background-color: transparent;
                }
            }
        }
    }

    @media (min-width: 768px) and (max-width: 997px) {
        .brandName {
            font-size: 20px;
            font-weight: 400;
            color: #363b64;
        }
        .navForm {
            margin-left: auto;
            margin-top: 10px;
            
            .search_bar {
                display: flex;
                align-items: center;
                border: 0px;
                padding: 3px;
                border-radius: 9px;
                width: 250px;
                background-color: white;

                .form-control {
                    border: 0px;
                    background-color: transparent;
                }
            }
        }
        .dash_media {
            background-color: white;
            border: 0px;
            display: flex;
            align-items: center;
            padding: 4px;
            border-radius: 10px;
            margin: 3px;

            .passport {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }

    @media (max-width: 767px) {
        .brandName {
            font-size: 15px;
            font-weight: 600;
            color: #363b64;
        }
        .navForm {
            margin-left: auto;
            margin-top: 10px;
                
            .search_bar {
                display: flex;
                align-items: center;
                border: 0px;
                padding: 2px;
                border-radius: 9px;
                width: 150px;
                background-color: white;

                .form-control {
                    border: 0px;
                    background-color: transparent;
                }
            }
        }

        .dash_media {
            background-color: white;
            border: 0px;
            display: flex;
            align-items: center;
            padding: 3px;
            border-radius: 10px;
            margin: 3px;
            cursor:pointer;

            .passport {
                width: 30px;
                height: 30px;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }
}

.tooltip {
    --bs-tooltip-bg: white;
    --bs-tooltip-color: #363b64;
    border: 0px;
    border-radius: 20px;
}

.popover {
    border: 1px solid #363B64;
    max-width: 400px;
    .popover-inner {
        max-width: 400px;
        height: fit-content;
    }

    .popover-header {
        background-color: white;
        font-weight: 600;
        text-align: center;
        border: 0px;
    }
    .noti_pop_body {
        padding: 15px;

        .pop_over_body {
            display: flex;
            justify-content: center;
            margin: 10px 0px;

            .pop_media {
                display: flex;
                align-items: center;
                margin-right: 15px;
                margin-left: 0px;
                .sender_img {
                    margin-right: 3px;
                }
                .sender_name {
                    font-weight: 600;
                }
            }

            .btns {
                display: flex;
                .accept_btn {
                    font-weight: 800;
                    width: 30px;
                    height: 30px;
                    margin-right: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: hsl(233, 30%, 30%, 0.9);
                    &:hover {
                        background-color: #363B64;
                    }
                }
            }
        }
    }
}