.challengeComponent {
    display: flex;
    color: #363b64;
    height: auto;

    .sidebar {
        position: fixed;
        z-index: 100;
        

    }
    .cha_container {
        flex: 7;
        margin-left: 300px;
        background-color: #F1F8FF;
        height: 100vh;

        .h1 {
            text-align: center;
            font-size: 1em;
            margin: 10px 0px 10px 0px;
        }
        .challenge_row {
            margin-top: 30px;
            align-items: center;
            
            .challenge_col1 {

                .peer_card {
                    padding: 5px;
                    
                    .peer_card_img {
                        object-fit: cover;
                        object-position: center;/* 
                        width: 200px;
                        height: 150px; */
                    }
                    .peer_card_body {
                        /* 
                        display: flex; */
                        align-items: center;

                        .ptitle {
                            font-size: 1em;
                            font-weight: 600;
                        }
                        .peer_card_description {
                            font-size: .8em;
                            font-weight: 500;
                        }
                        .peer_card_btn {
                            display: flex;
                            justify-content: center;
                            .send_request {
                                background-color: #363b64;
                            }
                        }
                    }
                }
            }

            .challenge_col2 {
                display: flex;
                align-items: center;
                justify-content: center;
                .heading1 {
                    font-size: .8em;
                    text-align: center;
                    text-align-last: center;
                }
                .challenge_form {
                    display: flex;
                    justify-content: center;
                }
                .btnDiv {
                    display: flex;
                    justify-content: center;

                    .search_btn {
                        font-size: 1em;
                        font-weight: 500;
                        background-color: #363b64;
                        margin-right: auto;
                        margin-left: auto;
                    }
                }
            }
            
        }
    }
    @media (min-width: 768px) and (max-width: 979px) {
        .cha_container {
            height: auto;
            .challenge_col2 {
                margin-top: 20px;
            }
        }

    }
    @media (min-width: 979px) and (max-width: 1199px) {
        .cha_container {
            margin-left: 255px;
        }
    }
    @media (min-width: 768px) and (max-width: 979px) {
        .cha_container {
            margin-left: 205px;
        }
    }
    @media(max-width: 767px) {
        .cha_container {
            margin-left: 155px;
        }
    }
}
